.hero {
    color: white;
    background-image: url("/jonart-editor/hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero h1 {
}

.hero p {
}

.hero a {
    color: aqua;
}

.hero a:visited {
    color: #00dbff;
}