.form-label {
    margin-bottom: 0.25rem;
    margin-top: 0.5rem;
}

.modal-body {
    padding-top: 0.5rem;
}

.offerDayTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}