.jumbotron {
    padding: 1rem;
    margin-bottom: 1rem;
}

pre {
    margin-bottom: 0;
}

.form-group {
    margin-bottom: 0;
}

.pageListHelpHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pageListItem p,h6 {
    margin-bottom: 0;
}

.pageListItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
}